@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Fira+Sans:ital,wght@1,500&family=Montserrat:wght@700&family=Quicksand:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: whitesmoke;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    font-size: x-large;
}

.Header h1 {
    padding: 20px;
}

.Tasks {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
}

.Task {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.NewTaskForm {
    width: 50%;
    min-width: 400px;
}

.NewTaskForm .textArea {
    background-color: whitesmoke;
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 5px;
}

.NewTaskForm .textArea:focus {
    outline: none;
}

.NewTaskForm .submitNewTask {
    visibility: hidden;
}

.Button {
    background: transparent;
    border: none;
}

.Button:hover {
    cursor: pointer;
}